@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    background-color: #167ade;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    font-family: Manrope;
    a {
        color: #dadada;
        text-decoration: none;
    }

    > header {
        display: grid;
        grid-template-columns: 1fr 3fr 0.8fr;
        background-color: #272727;
        color: #dadada;
        padding: 1em 2em;
        #title_slogan {
            display: flex;
            flex-direction: column;
            justify-content: left;
            h1 {
                margin: 0;
                font-size: 4em;
            }
            h2 {margin: 0;}
        }
        #hidden_search {display: none;}
        #search {
            display: flex;
            justify-content: center;
            gap: 0.5em;
            padding: 2em;
            input {
                display: block;
                width: 85%;
                align-self: center;
                border-radius: 10px;
                font-size: 1.3em;
                padding: 1em;
            }
            button {
                background-color: #167ade;
                color: #dadada;
                font-weight: 700;
                display: block;
                width: 5em;
                align-self: center;
                border-radius: 10px;
                font-size: 1.7em;
                padding: 0.6em;
                &:hover {background-color: #dadada;}
                &:hover {color: #167ade;}
            }
        }
        #login_signup_image, #logout_profile {
            display: flex;
            justify-content: right;
            gap: 1em;
            img {
                align-self: center;
                width: 4em;
            }
            a {
                align-self: center;
                text-align: center;
                font-weight: 700;
                border-radius: 10px;
                padding: 0.2em;
                &:hover {background-color: #dadada;}
                &:hover {color: #272727;}
            }
            #name_of_user {
                background-color: #dadada;
                color: #272727;
            }
        }
    }


    #nav_categories {
        margin-bottom: 1em;

        #hamburger {display: none;} /*temporary*/

        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0 1em 0 1em;
            list-style-type: none;
            li {
                display: block;
                flex: 1;
                padding: 1em 0 1em 0;
                border-radius: 10px;
                font-size: 22px;
                font-weight: 700;
                text-align: center;
                a {
                    color: #272727;
                    text-decoration: none;
                }
                &:hover {background-color: #272727;}
                &:hover a{color: #dadada;}
            }
        }
    }


    #featured {
        margin-bottom: 3em;
        > h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 1.5em;
            a {
                background-color: #272727;
                padding: 0.5em;
                border-radius: 10px;
            }
        }
        #featured_articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 1em;
            padding: 0 1em 0 1em;

            article {
                padding: 1em;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                justify-content: space-evenly;
                background-color: #272727;
                max-width: 32em;
                max-height: 40em;
                h1 {
                    text-align: center;
                    font-size: 1.8em;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
                footer {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em;
                    font-size: 1.8em;
                }
            }
        }
    }



    #items {
        margin-bottom: 3em;

        > h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 1.5em;
            a {
                background-color: #272727;
                padding: 0.5em;
                border-radius: 10px;
            }
        }
        #items_articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 1em 0 1em;
            gap: 1em;

            article {
                padding: 1em;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                justify-content: space-evenly;
                background-color: #272727;
                max-width: 16em;
                max-height: 22em;
                h1 {
                    text-align: center;
                    font-size: 1.3em;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
                footer {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em;
                    font-size: 1.3em;
                }
            }
        }
    }


    > footer {
        background-color: #272727;
        color: #dadada;
        padding: 0.5em;
        font-weight: 700;
    }

}


@media (max-width: 65em) {

    body {
        
        header {
            grid-template-columns: auto auto auto;

            #hidden_search {
                display: flex;
                justify-content: center;
                gap: 0.5em;

                #search_caller {
                    display: none;
                    &:checked {
                        ~ .search_caller::before {content: "\2715";}
                        ~ h2 {display: none;}
                    }
                }

                .search_caller {
                    align-self: center;
                    &:before {
                        content: "\1F50D";
                        font-size: 3.5em;
                    }
                }

                > h2 {
                    align-self: center;
                    font-size: 1.5em;
                }
            }
            
            #search {display: none;}

        }


        #nav_categories{

            #hamburger {
                &:checked {
                    ~ ul {max-height: 25em;}
                    ~ .hamburger::before {content: "\2715";}
                }
            }
            .hamburger {
                display: flex;
                padding: 1em;
                background-color: #272727;
                &:before {
                    content: "\2630";
                    color: white;
                    font-size: 1.5em;
                }
            }
            ul {
                flex-direction: column;
                overflow: hidden;
                max-height: 0;
                transition: max-height .5s;
                li {
                    border-top: 0;
                    list-style-type: none;
                    background-color: #272727;
                    a {color: #dadada;}
                    &:hover {background-color: #dadada;}
                    &:hover a{color: #272727;}    
                }
            }
        }

    }
}
